
use strict;
use warnings;
package IO::Socket::SSL::PublicSuffix::[% module %];

=head1 NAME

IO::Socket::SSL::PublicSuffix::[% module %] - provide access to Mozilla's list of effective TLD names

=head1 DESCRIPTION

This module provides the public suffix list as a tree.

=head2 Method

=over 4

=item get_tree()

Returns the data tree used to populate public suffix.

=cut

sub get_tree {
   return ([% tree_code %]);
}

1;
